<section id="about_description" style="padding-top: 10px; padding-bottom: 10px;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <h2 class="title text-center oe_slogan mt-0 mb-0" style="font-size: 35px; color: #94928b; font-weight: 500">Inventory Stock Nearest Warehouse</h2>
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_tooltip text-center mb-4 mt-4 border-top border-bottom position-relative" style="height: 4px;">
            <i class="fa fa-circle fa-2x position-absolute"
                style="color: #1b394e; background: #fff; height: 50px; width: 50px; font-size: 20px; margin-top: -10px;margin-left: -25px;"></i>
        </div>
        <div class="col-12 pb-4">
            <div class="row">
                <div class="col-5">
                    <h4>This Application is compatible with</h4>
                </div>
                <div class="col-7">
                    <div class="row">
                        <div class="col-4">
                            <div class="Community">
                                <span style="margin-right: 10px;"><img src="tick.svg" style="width: 25px;height: 25px;"></span>
                                <span>Community</span>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="Enterprice">
                                <span style="margin-right: 10px;"><img src="tick.svg" style="width: 25px;height: 25px;"></span>
                                <span>Enterprise</span>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="Odoo_sh">
                                <span style="margin-right: 10px;"><img src="tick.svg" style="width: 25px;height: 25px;"></span>
                                <span>Odoo.sh</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="about_description" style="padding-bottom: 20px; padding-top: 20px;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <h2 class="title text-center oe_slogan mt-0 mb-0" style="font-size: 35px; color: #94928b; font-weight: 500; padding-bottom: 10px;"> <img src="images/product-description.png" height="36px" width="36px"/> Description</h2>
                <p style="font-size: large;">
                    This Application facilitates inventory users to bifurcate and manage different warehouses for customer requests coming from different physical areas / postal codes for example Los Angles, San Fransisco, New York etc.
                </p>
                <p style="font-size: large;">
                    Here inventory users will also be able to define multiple nearest warehouses in a single warehouse configuration so that if any inventory will not available in defined warehouse than system will map and define respective warehouse automatically for available quantity as configured to fullfill inventory demand.
                </p>
            </div>
        </div>
    </div>
</section>

<section id="features_list" style="padding-bottom: 10px; padding-top: 10px;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="title text-center oe_slogan mt-0 mb-0" style="font-size: 35px; color: #94928b; font-weight: 500; padding-bottom: 10px;"> <img src="images/team-work.png" height="36px" width="36px"/> Features List</h2>
                <div class="oe_span12" style="font-size: large; width:100%;">
                    <ul style="list-style-type:disc;">
                        <li>
                            <span> Bifurcate and manage different warehouses by postal or zip codes defined on customers </span>
                        </li>
                        <li>
                            <span> Assign multiple nearest warehouses in a single warehouse configuration </span>
                        </li>
                        <li>
                            <span> When products quantity lacks than system will map and define respective nearest warehouses zip code wise automatically to fullfill inventory demand </span>
                        </li>
                        <li>
                            <span> Flexibility to change warehouse on sales order lines according to inventory user's choice </span>
                        </li>
                        <li>
                            <span> Easy configuration </span>
                        </li>
                        <li>
                            <span> Also work for Lot and Serial number wise products tracking </span>
                        </li>
                        <li>
                            <span> Now no more headache to manage huge and complex inventory process </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <center>
            <h2 class="title text-center oe_slogan mt-0 mb-0" style="font-size: 35px; color: #94928b; font-weight: 500; padding-bottom: 10px;"> <img src="configuration.png" height="36px" width="36px"/> Inventory Nearest Warehouse</h2>
        </center>
        <div class="oe_span12" style="font-size: large;">
            <table>
                <tr>
                    <td>
                        <i class="fa fa-hand-o-right"></i> For configuration, Go to <strong>Inventory-> Configuration-> Warehouses</strong>
                    </td>
                </tr>
                <tr>
                    <td>
                        <i class="fa fa-hand-o-right"></i> Here Inventory managers will configure every warehouse by defining zip code range and nearest warehouses
                    </td>
                </tr>
                <tr>
                    <td>
                        <i class="fa fa-hand-o-right"></i> For example here warehouse Americold will be managed for customer requests coming between 94538 - 94545 and 94546 - 94555 zip code range
                    </td>
                </tr>
                <tr>
                    <td>
                        <i class="fa fa-hand-o-right"></i> Also 3 warehouses are defined as nearest warehouses for Americold here
                    </td>
                </tr>
                <tr>
                    <td>
                        <i class="fa fa-hand-o-right"></i> So when any product quantity will not be available in warehouse Americold then system will search in defined respective nearest warehouses zip code wise automatically.
                    </td>
                </tr>
            </table>
            <center>
                <img src="warehouse_nearest_ss_1_ent.png" width="85%" class="mt8">
            </center>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12" style="font-size: large;">
            <table>
                <tr>
                    <td>
                       <i class="fa fa-hand-o-right"></i> Here one customer Azure Interior is created in the system with zip code as 94538.<br/>
                    </td>
                </tr>
            </table>
            <center>
                <img src="Azure_Interior_ss_2_ent.png" width="85%" class="mt8">
            </center>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12" style="font-size: large;">
            <table>
                <tr>
                    <td>
                        <i class="fa fa-hand-o-right"></i> So when a sales order is generated from the customer named Azure Interior then for product lines system has mapped and defined nearest warehouses zip code wise automatically for non available products quantity here.
                    </td>
                </tr>
            </table>
            <center>
                <img src="sale_line_ss_3_ent.png" width="85%" class="mt8">
            </center>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12" style="font-size: large;">
            <table>
                <tr>
                    <td>
                        <i class="fa fa-hand-o-right"></i> When system will not find products available quantity from nearest warehouses then it will define default warehouse automatically in respective sales order lines.
                    </td>
                </tr>
                <tr>
                    <td>
                        <i class="fa fa-hand-o-right"></i> For example Aurayancs Warehouse
                    </td>
                </tr>
            </table>
            <center>
                <img src="default_warehouse_ss_4_ent.png" width="85%" class="mt8">
            </center>
        </div>
    </div>
</section>

<section id="service" style="padding-bottom: 10px; padding-top: 10px;">
    <div class="container">
        <div class="row justify-content-center">
            <div style="margin-top: 20px; display:inline-block; background-color:#20744b; border-radius:10px">
                <a class="text-center" style="padding-left: 1.5rem; padding-right: 1.5rem; color:#091E42; box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.05); font-family:Montserrat; font-weight:600; font-size:15px; margin:0 auto;" href="https://apps.odoo.com/apps/modules/browse?search=aurayan" target="_blank"> <span style="height:50px; line-height:50px; color:#fff; font-weight:500"> Our Other Apps</span>
                </a>
            </div>
        </div>
    </div>
</section>

<section style="padding-bottom: 10px; padding-top: 10px;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="text-center pb-10">
                    <h2 class="title oe_slogan mt-0 mb-0" style="font-size: 35px; color: #94928b; font-weight: 500; padding-bottom: 10px;"> Terms & Conditions</h2>
                </div> <!-- section title -->
                <div class="oe_span12" style="">
                    <ul style="list-style-type:disc;">
                        <li>
                            <span> All the apps are to be purchased separately, for individual versions and individual editions.</span>
                        </li>
                        <li>
                            <span> One month free bug support period will be offered pertaining to anyone server used, testing, or live.</span>
                        </li>
                        <li>
                            <span> If an error appears in our app due to other custom modules installed in your system, we will charge for our efforts to resolve those errors.</span>
                        </li>
                        <li>
                            <span> Please refer to the document for configuration. If you need our support for configuration, please request our paid support. </span>
                        </li>
                        <li>
                            <span> Please note that you are not allowed to distribute or resell this module after purchase.</span>
                        </li>
                        <li>
                            <span> This module is tested and working on Odoo vanilla with Ubuntu OS.</span>
                        </li>
                        <li>
                            <p> Support services will be provided from Monday to Friday, 10:30 AM to 7:30 PM IST (Indian Standard Time).</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="service" style="padding-bottom: 10px; padding-top: 10px;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="text-center">
                    <h2 class="title" class="oe_slogan mt-0 mb-0" style="font-size: 35px; color: #94928b; font-weight: 500; padding-bottom: 10px;"> Our Services</h2>
                    <p style="font-size: 19px;">We provide the following services for different Retail, Rental, Manufacturing & Service level Business</p>
                </div> <!-- section title -->
            </div>
        </div> <!-- row -->
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="text-center" style="background-color: #fff; border: 1px solid #eceff8; border-radius: 5px; padding: 25px; transition: all 0.3s ease-out 0s; margin-top: 30px; height: 250px;">
                    <div class="service-icon">
                        <img src="images/grocery-cart.png" height="60" width="60" />
                    </div>
                    <div class="service-content" style="margin-top: 11px;">
                        <h4 class="service-title" style="font-size: 22px;">eCommerce Website </a></h4>
                        <p style="font-size: 16px;">Increase online sales with a professional eCommerce website integrated with Odoo ERP, covering the business flow from payment integration to delivery process.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="text-center" style="background-color: #fff; border: 1px solid #eceff8; border-radius: 5px; padding: 25px; transition: all 0.3s ease-out 0s; margin-top: 30px; height: 250px;">
                    <div class="service-icon">
                        <img src="images/artist.png" height="60" width="60" />
                    </div>
                    <div class="service-content" style="margin-top: 11px;">
                        <h4 class="service-title" style="font-size: 22px;">Odoo Customization</h4>
                        <p style="font-size: 16px;">Our technical resourceful team is capable to handle any challenge for Odoo customization, module development, implementation, migration, integration.</p>
                    </div>
                </div> <!-- single service -->
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="text-center" style="background-color: #fff; border: 1px solid #eceff8; border-radius: 5px; padding: 25px; transition: all 0.3s ease-out 0s; margin-top: 30px; height: 250px;">
                    <div class="service-icon">
                        <img src="images/system-update.png" height="60" width="60" />
                    </div>
                    <div class="service-content" style="margin-top: 11px;">
                        <h4 class="service-title" style="font-size: 22px;">Version Migration</h4>
                        <p style="font-size: 16px;">Upgrade to the latest Odoo version with new features, functionality and superrior perfomance. We provide version & data migration services.</p>
                    </div>
                </div> <!-- single service -->
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="text-center" style="background-color: #fff; border: 1px solid #eceff8; border-radius: 5px; padding: 25px; transition: all 0.3s ease-out 0s; margin-top: 30px; height: 250px;">
                    <div class="service-icon">
                        <img src="images/development.png" height="60" width="60"/>
                    </div>
                    <div class="service-content" style="margin-top: 11px;">
                        <h4 class="service-title" style="font-size: 22px;">Dedicated Resource</h4>
                        <p style="font-size: 16px;">Keep your projects rolling, either onsite or offsite with our dedicated resource programe. Contact us for more information.</p>
                    </div>
                </div> <!-- single service -->
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="text-center" style="background-color: #fff; border: 1px solid #eceff8; border-radius: 5px; padding: 25px; transition: all 0.3s ease-out 0s; margin-top: 30px; height: 250px;">
                    <div class="service-icon">
                        <img src="images/seo.png" height="60" width="60"/>
                    </div>
                    <div class="service-content" style="margin-top: 11px;">
                        <h4 class="service-title" style="font-size: 22px;">Third party Connectors</h4>
                        <p style="font-size: 16px;">Expand the scalability of Odoo by integrating it with other systems, like Google contacts, maps, WooCommerce, Magento, Shopify or payment gateway.</p>
                    </div>
                </div> <!-- single service -->
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="text-center" style="background-color: #fff; border: 1px solid #eceff8; border-radius: 5px; padding: 25px; transition: all 0.3s ease-out 0s; margin-top: 30px; height: 250px;">
                    <div class="service-icon">
                        <img src="images/question.png" height="60" width="60"/>
                    </div>
                    <div class="service-content" style="margin-top: 11px;">
                        <h4 class="service-title" style="font-size: 22px;"> Odoo Training, Consultancy and Support</h4>
                        <p style="font-size: 16px;">Hands-on-Training for functional/technical, support or for Odoo consultancy, contact us for our professional services.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="contact" style="padding-bottom: 10px; padding-top: 10px;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8" style="padding-bottom: 10px;">
                <div class="text-center">
                    <h2 class="title" class="oe_slogan mt-0 mb-0" style="font-size: 35px; color: #94928b; font-weight: 500; padding-bottom: 10px;">Get In Touch</h2>
                    <p style="font-size: 19px;">Please contact us for any kind of ERP Requirements, Customization, Migration or Digitalization for your small or big business.</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-9 col-md-9 col-sm-9">
                <div class="text-center mt-30">
                    <div class="row justify-content-center">
                        <center>
                            <a href="mailto:aurayancs@gmail.com?subject= Odoo ERP Requirements" target="_blank" style="color:#/091E42; font-family:Montserrat; display:inline-block; padding:13px 30px; border:1px solid #0074ff; border-radius:10px" class="mx-1 mb-2">
                                <span class="mr-2" style="color:#0f1e40; font-size:16px; vertical-align:middle"><img src="images/gmail_icon.png" height="30" width="30" /></span>
                                <span style="color:#0f1e40; font-size:16px; vertical-align:middle">Email Us</span>
                            </a>
                            <a href="https://join.skype.com/invite/VqVX1RbLYkwh" target="_blank" style="color:#091E42; font-family:Montserrat; display:inline-block; padding:13px 30px; border:1px solid #0074ff; border-radius:10px" class="mx-1 mb-2 deep-1 deep_hover">
                                <span class="mr-2" style="color:#0074ff; font-size:20px; vertical-align:middle"><img src="images/skype.png" height="30" width="30" /> </span>
                                <span style="color:#0f1e40; font-size:16px; vertical-align:middle">aurayancs@gmail.com</span>
                            </a>
                            <a href="https://wa.link/rputio" target="_blank" style="color:#091E42; font-family:Montserrat; display:inline-block; padding:13px 30px; border:1px solid #0074ff; border-radius:10px" class="mx-1 mb-2 deep-1 deep_hover">
                                <span class="mr-2" style="color:#0074ff; font-size:20px; vertical-align:middle"><img src="images/whatsapp.png" height="30" width="30" /> </span>
                                <span style="color:#0f1e40; font-size:16px; vertical-align:middle">+91-931-346-7836</span>
                            </a>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
